<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styleAbouts.css') }}">
    <title>About Us</title>
</head>
<body>

<div class="container">
    <section id="overview">
        <h1>About Our Team</h1>
        <p>Welcome to our team! We are a passionate group of individuals dedicated to making a positive impact through technology and innovation.</p>
    </section>

    <section id="team-members">
        <h2>Meet Our Team Members</h2>
        <ul>
            <li><strong>Aswal M K</strong> -Project Manager </li>
            <li><strong>Ashwin Pavithran M</strong> - Machine Learning Specialist</li>
            <li><strong>Aswanth T K</strong> - UX/UI Designer</li>
            <li><strong>Shonin Selvaraj</strong> - Lead Developer</li>
        </ul>
    </section>

    <section id="project">
        <h2>About Our Project</h2>

        <p>We are proud to introduce our latest project: the Alzheimer's Disease Detection and Diagnosis System. This groundbreaking system leverages advanced machine learning algorithms and state-of-the-art technology to aid in the early detection and diagnosis of Alzheimer's disease.</p>

        <p>The primary goal of our project is to provide a reliable and efficient tool for healthcare professionals, caregivers, and individuals to detect early signs of Alzheimer's disease. By harnessing the power of artificial intelligence, we aim to contribute to the early intervention and improved management of this challenging condition.</p>
    </section>

    <section id="why-this-project">
        <h2>Why This Project?</h2>

        <p>Alzheimer's disease is a significant public health concern affecting millions of people worldwide. Our team is driven by a shared commitment to make a meaningful difference in the lives of individuals and families impacted by this condition. Through our collective skills and dedication, we believe that technology can play a vital role in enhancing the quality of life for those affected by Alzheimer's.</p>

        <p>We envision a future where innovative solutions contribute to the early detection, understanding, and treatment of Alzheimer's disease, ultimately leading to improved outcomes and a brighter tomorrow for all.</p>
    </section>


</div>

</body>
</html>
